.CircleContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 40vh;

}

.BpmDisplayContainer{
    font-size: 2rem;
    margin: 1vh 0;
    input{
        color:white;
        text-align: center;
        width: 6.4vh;
        background:none;
        font-size: 2rem;
        border:none;
        outline:none;
        transition: 0.2s;
        padding: 1px;
        border: 0px solid #d1fb42;
    }
    input:hover{
     border-bottom: 2px solid #d1fb42;
    }

}
.PlayFade {
  opacity: 0.1;
}
.Pulse {
    opacity: 1;
    transform: scale(0.87);
   }


   @media all and (max-width: 800px) and (min-width: 400px) { 
    .BpmDisplayContainer{
        font-size: 3rem;
        input{
            width: 10vh;
            font-size: 3rem;
        }
    }
    }
    @media all and (max-width: 400px) { 
        .BpmDisplayContainer{
            font-size: 2.5rem;
            input{
                width: 5vw;
                font-size: 2.5rem;
            }
        }
        }