.CircleStyle {
    display: block;
    width: 60px ;
    height: 60px ;
    background: white ;
    border-radius: 50% ;
    margin: 0 1vh;
    opacity: 0.2;
    transition: 0.2s;
    &:first-child{
        background: #d1fb42;
       }
}
  